apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
  name: openshift-gitops-gatekeeper-argocd-application-controller
rules:
- apiGroups: ["operator.gatekeeper.sh"]
  resources: ["gatekeepers"]
  verbs: ["*"]
- apiGroups: ["templates.gatekeeper.sh"]
  resources: ["constrainttemplates"]
  verbs: ["*"]
